

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #171c1d;
    z-index: 99999999;
}



#status {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}






html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,p,ol,ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    background-color: #212529;
    /*height: 2000px;*/
}



ol,ul {
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}


body {
    font-family: 'Oswald',sans-serif;
    color: #26313c;
    line-height: 1.5;
}


ul {
    margin: 0;
    padding: 0;
}



.header{
    position: relative;
    transition: all 0.7s;
    z-index: 9;
}




.header .wrap {
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}




.header.sticky {
    width: 100%;
    position: fixed;
    background-color: #212529;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}






.header .logo {
    margin: 0;
    padding: 16px 0;
}

.header .logo a,
.header .logo a img {
    display: block;
}

.header .logo img {
    width: 190px;
}

.header .menu ul {
    display: flex;
}


.header .menu li {
    padding: 16px;
}

.header .menu a{
    font-size: 1.2rem;
    color: white;
    padding: 8px;
    display: block;
    text-transform: uppercase;
}


.header .menu a:hover {
    color: #0bceaf;
}




.header .sidemenu-toggler {
    position: absolute;
    width: 40px;
    padding: 6px;
    top: 23px;
    right: 40px;
    
}


.header .sidemenu-toggler > span {
    display: block;
    background-color: white;
    height: 2px;
}


.header .sidemenu-toggler > span:nth-child(2) {
   margin: 4px 0 4px  auto;
   width: 75%;
   transition: 0.3s all;
}

.header.header .sidemenu-toggler > span:nth-child(3) {
   margin-left: auto;
   width: 50%;
   transition: 0.6s all;
}


.header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3){
    width: 100%;
}


.header .sidemenu {

    position: fixed;
    top: 0;
    right: 0;
    background-color: #0bceaf;
    background-image: linear-gradient(315deg,#0bceaf 0%, #0bceaf 74%);
    width: 40%;
    height: 100vh;
    z-index: 999;
    padding: 4rem;
    color: white;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    
    
}




.header .sidemenu.active {
    transform: translate3d(0,0,0);
}


.header .sidemenu .close {
    height: 30px;
    align-items: flex-start;
    width: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: 24px;
    
}
 


.header .sidemenu .close::before,
.header .sidemenu .close::after {
    content: "";
    position: absolute;
    top: 0;
    left: 13px;
    height: 28px;
    width: 2px;
    background: white;
}




.header .sidemenu .close::before {
    transform: rotate(45deg);
}



.header .sidemenu .close::after {
    transform: rotate(-45deg);
}

.header .sidemenu nav ul {
    padding-top: 30px;
    
    
}



.header .sidemenu nav li {
    padding: 10px 0;
    
    
}



.header .sidemenu nav a {
   
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    
}



 .btn-primary {
    background-color: #0bceaf;
    color: white;
    display: block;
    border: none;
    border-radius: 50px;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}



.header .sidemenu li:hover {
    color: #0a0c8b;
}



.header .sidemenu nav a:hover{
    color: #0a0c8b;
}














@media (min-width:1199px) {
    .header .sidemenu-toggler{
        
        display: none;
    }
    
}


@media (max-width:767px){
    .header .sidemenu {
        width: 70%;
    }

    .header .sidemenu nav a {
        font-size: 1rem;
    }
}




@media (min-width:768px) and (max-width:991px){
    .header .sidemenu {
        width: 50%;
    }

    .header .sidemenu nav a {
        font-size: 1.2rem;
    }
}





@media (max-width:1199px){
    .header .menu {
        display: none;
    }
}



.home {
    margin-top: 100px;
}



.hero-text {
    margin-top: -40px;
    
    font-family: 'Poppins',sans-serif;
}

.title {
    background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.hero-text p{
    font-family: 'Poppins',sans-serif;
    margin-top: 20px;
}

.hero-text h1 span {
    color: #0bceaf;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    
}



.social-icons i {
    list-style: none;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    
}


.social-icons i:hover {
    color: #0a0c8b;
}






 

::-webkit-scrollbar {
    width: 10px;

}


::-webkit-scrollbar-track {
    width: 10px;
    background: #212529;
    border-left:  0 solid white;
    border-right: 0  solid white;
}



::-webkit-scrollbar-thumb {
    background: #3bb78f;
    width: 0;
    height: 35%;
    transition :0.5s ease;
    cursor: pointer;
}




/* about section*/

.hero-img{
    width: 100%;
    height: 100%;
   
}


.hero-img img{
    position: relative;
    margin: 0 auto;
    float: none;
    top: 25%;
    height: 373px;
    width: 373px;
    text-align: center;
    border-radius:50% 50% 50% 50% / 31% 26% 74% 69% ;
    background: linear-gradient(0deg,rgba(34,186,195,1) 0%, rgba(45,253,173,1) 100%);
}


.about {
    font-family: 'Poppins',sans-serif;

}


.gap {

    margin-left: 90px;
}



.tag ul li {
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;
}


.tag ul li span {
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
}


.tag ul li span :hover {
    background-color: transparent !important;
}


.btn-danger {
    background-color: #24cdd5;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
}





.mh-service .mh-service-item {
    padding: 20px;
    border-radius: 4px;
    font-family: 'Poppins',sans-serif;
    border-radius: 4px;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}


.mh-service .mh-service-item .fa {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
}






.mh-service .mh-service-item .fa.purple-color {
    color: #9774fa;
}


.mh-service .mh-service-item .fa.iron-color {
    color: #ed7256;
}

.mh-service .mh-service-item .fa.sky-color {
    color:#2796e2;
}



.mh-service h3 {
    font-family: 'Poppins',sans-serif;
    margin-bottom: 18px;
    font-size: 25px;
    line-height: 34px;
}



/*skill section*/
.mh-skills .mh-professional-skill {
    padding-right: 60px;
    color:white;

}



.mh-skills .mh-professional-skill h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins',sans-serif;
  }
  
  
  
  
  .mh-professional-skills {
      padding-left: 20%;
      color: white;
  }

  


  .mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins',sans-serif;
    color: white;
  }


  .mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
  }




  .mh-progress {
    margin-bottom: 10px;
    font: 900 1.14285/1 Cinzerl, cursive;
    color: white;
}



.mh-progress .progressbar-text{
    color: inherit !important;
    font-family: 'Poppins',sans-serif;
}


.progress.progress-line{
    height: 10px;
    margin-right: 60px;
}


.progress.progress-line .progressbar-text{
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-35%);
    text-align: center;
    font-family: 'Poppins',sans-serif;
}


.mh-progress.mh-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
}



  .mh-progress path:nth-child(1){
    stroke: rgba(0,0,0,0.7);
}


.mh-progress path:nth-child(2){
  stroke: #0bceaf !important;
}


.candidatos {
    position: relative;
    margin-bottom: 15px;
    font-family: 'Poppins',sans-serif;
}



.candidatos .parcial {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}


.candidatos .parcial .info{
    position: relative;
    font-family: 'Poppins',sans-serif;
}


.candidatos .parcial .info .nome{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
    font-family: 'Poppins',sans-serif;
}


.candidatos .parcial .info .percentage-num {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}


.candidatos .parcial .progressBar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 39px 0 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}


.candidatos .parcial .percentagem {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0bceaf;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 4s;
    
    -webkit-animation-name: animationProgress;
    font-family: 'Poppins',sans-serif;
}



@keyframes  animationProgress {
   from{
        width: 0;
        stroke-dashoffset: 0;
    }
}



.mh-experience h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins',sans-serif;
    color: white;
}


.mh-experience .mh-education-details .mh-education-item {
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.mh-experience .mh-education-deatails .mh-education-item:last-child {
    margin-bottom: 0;
}

 .mh-education-item h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
    color: white;
}

.mh-education-item .mh-eduyear {
    margin:  10px 0;
    color: #0bceaf !important;
    font-family: 'Poppins',sans-serif;
}


/*experience section start*/

.mh-education {
    padding-right: 30px;
}

.mh-work {
    padding-left: 30px;
}

.mh-work h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins',sans-serif;
    color: white;
}



.mh-work .mh-experience-details .mh-work-item {
    margin-bottom: 30px;
    padding: 20px 30px;
    border-radius: 4px;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mh-work .mh-experience-details .mh-work-item :last-child {
    margin-bottom: 0;
}

.mh-work-item h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
    color: white;
}



.mh-work .mh-experience-details .mh-work-item  .mh-eduyear {
    margin: 10px 0;
    color: #0bceaf;
    font-family: 'Poppins',sans-serif;
}

.mh-work-item span {
    font-size: 22px;
    line-height: 22px;
    font-family: 'Poppins',sans-serif;
    color: white;
}


.work-responsibility li {
    font-size: 14px;
    line-height: 23px;
    margin: 2px 0;
    font-family: 'Poppins',sans-serif;
     color: white;
}


.work-responsibility li .fa {
    font-size: 10px;
    line-height: 23px;
    margin-right: 10px;
    font-family: 'Poppins',sans-serif;
    color: white;
}



.section-title h3 {
    color: white;
    font-family: 'Poppins',sans-serif;
}




.portfolio-nav {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 50px;
}


.portfolio-nav ul {
    margin: 0 auto;
    float: none;
    text-align: center;
}



.portfolio-nav ul li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    font-family: 'Poppins',sans-serif;
}


.portfolio-nav ul li:hover {
    color: #0bceaf;
}





.portfolio-nav ul li.active {
    color: #0bceaf;
}





.portfolio-nav ul li span {
   padding: 5px 0;
   border-bottom: 2px solid transparent;
}




.portfolio-nav ul li.current span {
 border-bottom: 2px solid #0bceaf;
}




.grid-item figure {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}



.grid-item figure img {
    position: relative;
    width: 100%;
    display:block;
}




.grid-item figure figcaption {
    position:absolute;
    padding: 15px;
    height: 100%;
    width: 100%;
    top: auto;
    left: 0;
    color: white;
    bottom: 0;
    z-index: 10;
    transition: 0.5s;
    font-family: 'Poppins',sans-serif;
    
}



.grid-item figure figcaption:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
    transform: translateX(0) translateY(0) rotateZ(0) rotate(0deg) scale(0.95);
    z-index: -1;
    opacity: 0;

}




.grid-item figure figcaption .fa {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 45%;
    margin-top: -22px;
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    opacity: 0;
    letter-spacing: 0px;
    
}



figcaption .title{
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    top: 50%;
    margin-top: 30px;
    transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    transition: all 0.4s ease-out;
    opacity: 0;
    letter-spacing: 0px;
    
}


figcaption .sub-title{
    margin: 0;
    padding: 0;
    position:absolute;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 13px;
    top: 50%;
    margin-top: 30px;
    transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    transition: 0.5s;
    opacity: 0;
    letter-spacing: 0px;
    
}


.pricing h3 {
    font-family: 'Poppins',sans-serif;
}


.dark-bg {
    background-color: #202026;
    color: white;
    font-family: 'Poppins',sans-serif;
    padding: 20px 30px;
    
}


.pricing {
    padding: 30px 0;
    text-align: center;
    transition: 0.3s;
    margin-bottom: 30px;
    border: 4px;
    border-radius: 6px;
}


.pricing:hover {
    transform: 0.3s;

}

.pricing .fa {
    font-size: 60px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #7af8e4;
}




.pricing h4 {
    margin-bottom: 10px;
    margin-top: 20px;
}


.pricing ul  {
    margin: 30px 0;
}

.pricing .btn {
    transition: 0.3s;
    background: transparent;
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid #0bceaf;
    color: #0bceaf;
}


.pricing .btn:hover {
    color: #0bceaf;
}







/*contact*/


.contact .info-box {
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}


.contact .info-box i.fa {
    font-size: 24px;
    color: #0ef589;
    border-radius: 50%;
    padding: 14px;
    float: left;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contact .info-box h3 {
    font-size: 20px;
    color:white;
    font-weight: 700;
    margin: 10px 0 8px 68px;
    display: flex;
    font-family: 'Poppins',sans-serif;
}



.contact .section-title h3 {
    color:white;
    font-weight: 700;
    margin: 10px 0 8px 68px;
    display: flex;
    font-family: 'Poppins',sans-serif;
}



.contact .info-box p {
    padding: 0;
    color: #fff;
    line-height: 1;
    margin-right: 12px;
    margin: 0 0 0 68px;
    font-family: 'Poppins',sans-serif;
}


.contact .info-box .social-links {
    margin: 5px 0 0 60px;
    display: flex;
}


.contact .info-box .social-links i{
    font-size: 18px;
    display: inline-block;
    color:white;
    line-height: 1;
    margin-right: 12px;
    transition: 0.3s;
}




.contact .info-box .social-links i:hover {
    color: #400ef5;
}


.contact .forms {
    
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    font-family: 'Poppins',sans-serif;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contact .btn-danger {
    transition: 0.3s;
    background: transparent;
    padding: 10px 40px;
    border-radius: 50px;
    margin-top: 10px;
    border: 2px solid #0bceaf;
    color: #0bceaf;
    
}

.contact-map{
    width: 100%;
    margin-bottom: 30px;
    flex: 50%;
    border-radius: 4px;
  
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contact-map iframe {
 width: 100%;
 height: 100%;
 height: 365px;
 font-family: 'Poppins',sans-serif;
 
}






/* Footer */




.footer {
    text-align: center;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-top: 0.5px solid black;
  }


.footer-text h2 {
      color: white;
      font-weight: 600;
      font-size: 34px;
      text-align: center;
    
      font-family: 'Poppins',sans-serif;
  }


  .footer-text p {
      color: white;
     text-align: center;
      font-family:'Poppins',sans-serif;

      
  }

  .footer-text a{
    font-size: 1.2rem;
    color: white;
    padding: 8px;
    display: inline-block;
    text-transform: uppercas
  }

  .footer-text a:hover{
    color: #0a0c8b;
  }



  .footer .scroll-up{
     font-size: 50px;
     

  }

.footer .scroll-up .fa{
    color: #0bceaf;
    background-color: #fff;

}



.goTop{
    position: fixed;
    background-color: #0bceaf;
    color:#121518;
    width: 45px;
    height: 45px;
    right: 15px;
    border-radius: 50px;
    bottom: 15px;
    text-align: center;
    font-size: 25px;
    display: none;
    
}





 





  

